* {
    padding: 0px;
    margin: 0px;
    color:hwb(0 92% 7% / 0.969);
    background-image: url('ab.jpeg');
    text-emphasis-color: white;
    ;
   
 
}
body{
    
    background-image: url('ab.jpeg');
    background-size: cover; 
    background-position: center;
   
}

#navbar {
    height: 60px;
    background-color:#0f1111;
color:black;
}

button{
    background-color: #f08804;

}

#logo{
    font-size: 25px;
    color:#f08804;
    
}

a{
    margin-right: 167px ;
    text-decoration: none;
}

b{
    color:blue ;
	padding:0px;
	margin:0px;
}

marquee{
    background-color: #cccccc;
    color:#13cbcb;
}

#content{ 
    height:550px;
    
   
}

#box1{
    max-width: 700px;
    text-align: center;
    color: #230bd6;
}

#box3{ color: white;
}

hr{
height:10px;
width:20px;
color:#00ff00;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0 0;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #ffff;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #e90caa;
}
section h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
    color: #14c6a0;
}

.project, .job, blockquote {
    margin-bottom: 1.5rem;
    color: #010113;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #5047f5;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
}


footer{
    height: 60px;
    color:white;
    text-align:center;
    background-color: black;

}
p{
    padding: 2px;
    margin: 1px;

}

#portfolio{
    text-align: center;
    color: #f08804;


}


